In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys

In [2]:
train_file_path = sys.argv[1]
train= pd.read_csv('/Users/praveena/Downloads/Sales_Transactions_Dataset_Weekly.csv')

In [3]:
train.head()

,Product_Code,W0,W1,W2,W3,W4,W5,W6,W7,W8,...,Normalized 42,Normalized 43,Normalized 44,Normalized 45,Normalized 46,Normalized 47,Normalized 48,Normalized 49,Normalized 50,Normalized 51
0,P1,11,12,10,8,13,12,14,21,6,...,0.06,0.22,0.28,0.39,0.50,0.00,0.22,0.17,0.11,0.39
1,P2,7,6,3,2,7,1,6,3,3,...,0.20,0.40,0.50,0.10,0.10,0.40,0.50,0.10,0.60,0.00
2,P3,7,11,8,9,10,8,7,13,12,...,0.27,1.00,0.18,0.18,0.36,0.45,1.00,0.45,0.45,0.36
3,P4,12,8,13,5,9,6,9,13,13,...,0.41,0.47,0.06,0.12,0.24,0.35,0.71,0.35,0.29,0.35
4,P5,8,5,13,11,6,7,9,14,9,...,0.27,0.53,0.27,0.60,0.20,0.20,0.13,0.53,0.33,0.40

In [4]:
df = train.iloc[:, 2:53]

In [5]:
df.head()

,W1,W2,W3,W4,W5,W6,W7,W8,W9,W10,...,W42,W43,W44,W45,W46,W47,W48,W49,W50,W51
0,12,10,8,13,12,14,21,6,14,11,...,4,7,8,10,12,3,7,6,5,10
1,6,3,2,7,1,6,3,3,3,2,...,2,4,5,1,1,4,5,1,6,0
2,11,8,9,10,8,7,13,12,6,14,...,6,14,5,5,7,8,14,8,8,7
3,8,13,5,9,6,9,13,13,11,8,...,9,10,3,4,6,8,14,8,7,8
4,5,13,11,6,7,9,14,9,9,11,...,7,11,7,12,6,6,5,11,8,9

In [6]:
len(df.columns)

51

In [7]:
def tss(column):
    columnList = column.tolist()
    centroid = sum(columnList)/len(columnList)
    columnTss = 0.0
    for i in columnList:
        columnTss += (i- centroid)*(i-centroid)
    return columnTss

In [8]:
def findTss(train):
    dataSetTss = 0.0
    dataSetTss = ( tss(df['W1']) + tss(df['W2']) + tss(df['W3'])  + tss(df['W4'])  + tss(df['W5']) + tss(df['W6']) + tss(df['W7']) 
                  + tss(df['W8']) + tss(df['W9']) + tss(df['W10']) + tss(df['W11'])  + tss(df['W12'])  + tss(df['W13']) + 
                  tss(df['W14']) + tss(df['W15'])  + tss(df['W16'])+ tss(df['W17'])  + tss(df['W18']) + tss(df['W19']) + tss(df['W20'])  + tss(df['W21'])  
                 + tss(df['W22']) + tss(df['W23']) + tss(df['W24'])  + tss(df['W25'])  + tss(df['W26']) + tss(df['W27']) + tss(df['W28']) 
                  + tss(df['W29']) + tss(df['W30']) + tss(df['W31']) + tss(df['W32'])  + tss(df['W33'])  + tss(df['W34']) + 
                  tss(df['W35']) + tss(df['W36'])  + tss(df['W37'])+ tss(df['W38'])  + tss(df['W39']) + tss(df['W40']) + tss(df['W41'])  + tss(df['W42'])
                  +  tss(df['W43']) + tss(df['W44'])  + tss(df['W45'])+ tss(df['W46'])  + tss(df['W47']) + tss(df['W48']) + tss(df['W49'])  + tss(df['W50'])
                  +  +  tss(df['W51'])
                 ) 
    return dataSetTss

In [9]:
Tss = findTss(df)

In [10]:
print(Tss)

5920494.961775585

In [11]:
cluster_point = np.mean(df)

In [12]:
TSS = np.sum(np.sum((df - cluster_point)**2))
TSS

5920494.961775585

In [13]:
from sklearn.cluster import KMeans
wcss = []

for i in range(1, 11):
    kmeans = KMeans(n_clusters = i, init = 'k-means++', max_iter = 300, n_init = 10, random_state = 0)
    kmeans.fit(df)
    wcss.append(kmeans.inertia_)

In [15]:
print("K means clustering\n")

for i, val in enumerate(wcss):
    print("for k=",i+1, val/TSS)

K means clustering

for k= 1 1.0
for k= 2 0.230233409003
for k= 3 0.113882941822
for k= 4 0.0951818088589
for k= 5 0.0845196043645
for k= 6 0.081431630313
for k= 7 0.0788613000165
for k= 8 0.0772597986027
for k= 9 0.0758990832943
for k= 10 0.0749717182437